*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    
}
.hero{
    overflow: hidden;
}
.nav{
    height: 60px;
 background-color: rgb(255, 255, 255);
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 12px 28px;

}

.nav2{
    height: 60px;
    width: 70%;
 background-color: rgb(255, 255, 255);
 display: flex;
 justify-content:space-around;
 align-items: center;


}

.nav-toggle{
    display: none;
}


.input{
    width: 40%;
    height: 40px;
    border: 1px solid black;
    padding-left: 20px;
    border-radius: 5px;
    border: none;
    background-color: #f0f5ff;
    font-size: ;
  
   
}


input{
    width: 80%;
    height: 40px;
    border-left: none;
    margin-left: 10px;
    border:none;
    outline: none;
    background-color: transparent;
    font-size: 17px;

    
}

button{
    height:42px ;
    width:155px ;
    font-size: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    color: black;
}

button:hover{
    background-color:#2874f0;
    color: rgb(255, 255, 255);
    transition: .5s;
}

.dot{
    margin-left: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 10px;
}


.dot:hover{
    background-color:#2874f0;
    color: rgb(255, 255, 255);
    transition: .5s;
}


.main{ 
    height: 220px;
    background-color: rgba(0, 0, 0, 0.082);
    display: flex;
    justify-content:center;

    

}

.hero{
    height: 200px;
    background-color: white;
    width: 90%;
    margin-top: 5px;
}


.grocery{
    display:inline-block;
    margin: 50px 71px;
    font-size: 16px;
    font-weight: 700;


}


.main2{ 
    height: 250px;
    background-color: rgba(0, 0, 0, 0.082);
    display: flex;
    justify-content: center;


    

}

.hero2{
    height: 250px;
    background-color: white;
    width: 90%;
    background-image: url("/images/hero22.webp");
    background-size: cover;
    background-repeat: no-repeat;
}


.main3{ 
    height: 380px;
    background-color: rgba(0, 0, 0, 0.082);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

    

}

.hero3{
    height: 360px;
    background-color: white;
    width: 90%;
}



.shop-head{
  
    height: 40px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;



}

.main-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.box{

    height: 260px;
    border: 1px solid rgba(0, 0, 0, 0.212);
    width: 12%;
    border-radius: 5px;
    transition: .5s ease-in-out;


   
}

.box1{
    height: 80%;
    width: 100%;
    background-image: url("/images/oneplus.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
}


.box2{
    height: 80%;
    background-image: url("/images/monitors.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
}






.box3{
    height: 80%;
    background-image: url("/images/samsung.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
}




.box4{
    height: 80%;
    background-image: url("/images/realme.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
}




.box5{
    height: 80%;
    background-image: url("/images/techno.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
}


.box6{
    height: 80%;
    background-image: url("/images/top-mirrorless.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
}



.box7{
    height: 80%;
    background-image: url("/images/earphones.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
}


.box11{
    height: 80%;
    background-image: url("/images/cricket-jersey.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
}


.box12{
    height: 80%;
    background-image: url("/images/bat.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
}






.box13{
    height: 80%;
    background-image: url("/images/football.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border-radius: 10px;
}




.box14{
    height: 80%;
    background-image: url("/images/shirt.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
}




.box15{
    height: 80%;
    background-image: url("/images/shoes11.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
}


.box16{
    height: 80%;
    background-image: url("/images/leg-pads.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
}



.box17{
    height: 80%;
    background-image: url("/images/ball.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
}




.discription{
    margin-top: 5px;
}
.discription :first-child {
   text-align: center;   

}


.discription :nth-child(2){
    text-align: center;
    font-weight: 700;
 
 }

 footer{
    margin-top: 50px;
 }
.foot-panel{
    background-color:#0000002a ;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;

}

.foot-panel2{
    background-color: #000000e1;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul p{
    color: #ffffff63;
    font-size: 16px;
}

 ul a {
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
    color:#dddddd ;
    font-weight: 700;


}

ul{
    margin-top: 50px;
}







.foot-panel4{
    background-color:#0f1111  ;
    color: white;
    display: flex;
    height:80px ;
    text-align: center;
    justify-content: center;
    align-items: center;



}

.pages{
   font-size: 0.7rem;
  
}


.copyright{
    padding-top: 5px;
    font-size: 0.7rem;
}